div.sign-container {
    display: block;
    position: relative;
}

span.sign {
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    padding: 14px;
    font-size: 12px;
    color: #767676;
    border-radius: 0 4px 0 4px;
}

div.note {
    padding-left: 3em;
    padding: 17px;
    margin-left: 4em;
    margin-right: 17px;
    border-top: solid 3px;
    border-left: solid 3px;
    border-bottom: solid 3px white;
}
div.note-container {
    position: relative;
    margin-right: 6em;
}

.glyph {
    font-size: 2em;
}

.s-fire {
    color:#f04124;
}

div.s-fire>div {
    color: white;
    background-color: #f04124;
    border-color: #ea2f10;
}

.s-alert {
    color: #e99002;
}

div.s-alert>div {
    color: white;
    background-color: #e99002;
    border-color: darkorange;
}

.note>a.urlextern {
    font-weight: bold;
}

.s-globe {
    color:#B075FF;
}

div.s-globe>div {
    color: #6900AD;
    background-color: #F3EAFF;
    border-color:#B075FF;
}

.s-info-sign {
    color: #5bc0de;
}

div.s-info-sign>div {
    color: white;
    background-color: #5bc0de;
    border-color: #3db5d8;
}

.s-question-sign {
    color: #43ac6a;
}

div.s-question-sign>div {
    color: white;
    background-color: #43ac6a;
    border-color:#3c9a5f;
}

.s-education {
    color: #006687;
}

div.s-education>div {
    color: white;
    background-color: black;
    border-color:#006687;
}

.triangle {
    position: absolute;
    top:0;
    right: 0;
    width:17px;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 17px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 17px, 100% 100%, 0 100%);
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-top: solid 3px;
}

.triangle:before {
    content: "";
    top: -3px;
    right: -3px;
    width: 0px;
    height: 0px;
    position:absolute;
    border-bottom: 17px solid #484848;
    border-right: 17px solid transparent;
    border-radius: 0 0 0 5px;
}

.triangle:after {
    content: "";
    position: absolute;
    top: -3px;
    right:-3px;
    width: 0px;
    height: 0px;
    border-top: 17px solid #fff; 
    border-left: 17px solid transparent;
}*/
