div.sign-container {
    display: block;
    position: relative;
}

span.sign {
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    padding: 14px;
    font-size: 12px;
    color: #767676;
    border-radius: 0 4px 0 4px;
}

div.note {
    padding-left: 3em;
    padding: 17px;
    border: 3px;
    margin-left: 4em;
    margin-right: 6em;
}

.glyphicon {
    font-size: 2em;
}

.s-fire {
    color:#f04124;
}

div.s-fire {
    color: white;
    background-color: #f04124;
    border:solid #ea2f10;
}

.s-alert {
    color: #e99002;
}

div.s-alert {
    color: white;
    background-color: #e99002;
    border: solid darkorange;
}

.note>a.urlextern {
    font-weight: bold;
}

.s-globe {
    color:#B075FF;
}

div.s-globe {
    color: #6900AD;
    background-color: #F3EAFF;
    border:solid #B075FF;
}

.s-info-sign {
    color: #5bc0de;
}

div.s-info-sign {
    color: white;
    background-color: #5bc0de;
    border:solid #3db5d8;
}

.s-question-sign {
    color: #43ac6a;
}

div.s-question-sign {
    color: white;
    background-color: #43ac6a;
    border:solid #3c9a5f;
}

.s-education {
    color: black;
}

div.s-education {
    color: white;
    background-color: black;
    border:solid #006687;
}
